/* Allgemein */

.button:hover {
    -fx-background-color: #b3b3cc;
}

/* Buchen */

#FlugSuchenButton {
    -fx-background-color: #ffd364;
    -fx-font-weight: bold;
}

#FlugSuchenButton2 {
    -fx-background-color: #ffd364;
    -fx-font-weight: bold;
}

#FlugSuchenButton:hover {
    -fx-background-color: #ffd364;
}

#FlugSuchenButton2:hover {
    -fx-background-color: #ffd364;
}

#plusButton {
    -fx-border-radius: 0px, 0px, 0px, 0px;
    -fx-font-weight: bold;
}

#minusButton {
    -fx-border-radius: 0px, 0px, 0px, 0px;
    -fx-font-weight: bold;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

/* Admin Startseite */

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

/* Spaltenk�pfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background {
    /*-fx-background-color: linear-gradient(green 33%, white 33%,red 33%);*/
    -fx-background-color: red;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: transparent;
}

/*
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;  
}*/

.table-row-cell:selected {
    -fx-background-color: red;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}



	



